<h1 class="titleForm">Advertisement Details</h1>
<div id="advDetails">
    <img src="{{data.imageUrl}}" width="192" height="108">
    <div>Title</div>
    <h1>{{data.title}}</h1>
    <div>Description:</div>
    <div>{{data.description}}</div>
    <div>Publisher</div>
    <div>{{data.creatorUN}}</div>
    <div>Date</div>
    <div>{{data.datePublished}}</div>
    <div>Views</div>
    <div>{{data.viewCounter}}</div>
    <button onclick="showAd()">Back</button>
</div>